*{
    border: 0px solid red;
}
body{
    width: 50%;
    align-items: center;
    margin: 0 auto;
}
h1.main-title{
    text-align: center;
    margin-top: 5%;
    background-color: lightcoral;
}
.recipe-lists{
    width: 25%;
    height: inherit;
    margin-left: 10%;
    padding-right: 20px;
    display: inline-block;
    list-style-type: none;
    border: 2px solid;
}

.recipe-lists li{
    margin: 15px auto;
}
.main-content{
    margin-top:5%;
    background-color: lightgray;
}

.description{
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 0.5%;
    vertical-align: top;
    border: 2px solid;
    padding: 10px;
}

.description p{
    text-align: justify;
}

h1.sub-title{
    text-align: center;
    background-color: lightseagreen;
}

.container{
    width: 75%;
    margin: 0 auto;
    overflow: auto;
}

.container>img, .container>.desc-box{
    display: inline-block;
}

.container>.desc-box{
    width: 50%;
    position: relative;
    bottom: 30px;
    margin-left: 2%;
}

.container h2{
    text-align: center;
}
.container img{
    width: 300px;
    height: auto;
}

.container ul{
    width: 50%;
    margin: 0 auto;
}